@()
@main(""){
<style type="text/css">
body {text-align:center}
</style>
<h3> App is under development. Will be deployed shortly here.
<p>
<h4> Features </h4>
1. Sign Up in Facebook [if you are not !!] <br>
2. Login on lostandfound.cloudfoundry.com <br>
    Used Facebook API's OAuth to authenticate <br>
3.  Menu to perform any function <br>
4.  Go to "Lost any valuable" if you lost <br>
5. Go to "Found any valuable" if you found  <br>
6. Drag and drop the icon to place on the location where you lost/found <br>
</p>
<br>
<br>
<p>
<h4> About the technology </h4>
1. Scala <br>
2. Play 2.0 <br>
3. MongoDB <br>
4. CloudFoundry <br>
</p>

<h4> APIs </h4> <br>
1. Facebook <br>
2. Google Maps <br>
</p>
<br>
<h4> Additional Features </h4>
<br>
1. Integrate with Facebook Check-ins <br>
</h3>


}